* {
    margin: 0;
    padding: 0;
}

html, body {
    /*height: 100%;*/
}

body {
    /*background-color: #ccc;*/
}

footer {
    z-index: -1;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

div {
    border: 1px solid black;
    margin: 5px;
    /*background-color: ghostwhite;*/
}

#container {
    /*overflow: hidden;*/
}

#container > div {
    display: block;
}

#content {
    min-width: 500px;
    min-height: 500px;
}

.draggable {
    width: 100px;
    padding: 0.5em;
    /*position: relative;*/
}
